<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.carlosu.androidappbundleexample.ondemand.login_administrativos"
    split="login_administrativos">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_login_administrativos">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name="com.carlosu.androidappbundleexample.ondemand.AdministrativosActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>